{% comment %}
    Section: Modal
{% endcomment %}

<div class="modal" id="js-modal">
    <div class="modal__box">
        <button class="modal__close"
                id="js-modal-close"
                title="{{ section.settings.close_button_title }}"></button>
        <div class="modal__oembed"></div>
    </div>
    <!-- <div><iframe src="{{ section.settings.video_url }}" frameborder="0" allow="fullscreen;picture-in-picture;clipboard-write" title="{{ section.settings.video_title }}"></iframe></div> -->
</div>

{% schema %}
{
  "name": "Modal",
  "settings": [
    {
      "type": "text",
      "id": "close_button_title",
      "label": "Close Button Title",
      "default": "Close modal"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL",
      "default": "https://player.vimeo.com/video/1038394824?badge=0&app_id=58479"
    },
    {
      "type": "text",
      "id": "video_title",
      "label": "Video Title",
      "default": "Demonstration Video"
    }
  ]
}
{% endschema %}