{% comment %}
    Page: Homepage
{% endcomment %}

<section id="homepage">
    {% section 'home-hero' %}
    {% section 'home-product-showcase' %}
    {% section 'home-how-it-works' %}
    {% section 'home-about-case' %}
    {% section 'global-footer' %}
    {% section 'global-modal' %}
</section>