{% comment %}
    Page: Ring Size Guide
{% endcomment %}

<section id="sizes">
    {% section 'size-introduction' %}
    {% section 'size-guide' %}
    {% section 'size-helpful-tips' %}
    {% section 'global-footer' %}
</section>